#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* //Keyframes on CSS-i omadus, is võimaldab luua animatsioone määratledes,
//kuidas elementide stiilid aja jooksul muutuvad. Keyframes võimaldavad
// */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* //@media on CSS-i omadus, mis võimaldab teil rakendada erinevaid stiile sõltuvalt
kasutaja seadme omadustest, nagu ekraani suurus, resolutsioon, orientatsioon
või isegi kasutaja eelistused (nt vähendatud liikumise ellistamine). @media reeglid
võimaldavad teil luua reageerivaid disainilahendusi, mis kohanduvad erinevate seadmete
ja kasutajate vajadustega. Näiteks, kui soovite rakendada
teistsuguseid stiile mobiilseadmetele võite kasutada @media reeglit järgmiselt: */
@media (prefers-reduced-motion: no-preference) {
  /* //Sulgudesse nr 2 panin sellepärast, et see on CSS-i süntaks, mis võimaldab
  teil määratleda, milliseid stiilid rakendatakse, kui kasutaja eelistab 
  vähendatud liikumist. See tähendab, et animatsioonid ja üleminekud rakendatakse ainult siis,
  kui kasutaja ei ole seadistanud oma süsteemi
  vähendatud liikumise eelistuseks. */
  a:nth-of-type(2) .log {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}