body {
  background-color: black;
  color: white;
  background-image: url(./images/black\ background.jpg);
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
}

button.menubuttons {
  margin-left: 750px;
}

p {
  font-size: 20px; 
}



