
h2 {
    font-weight: normal;
    margin: 10px 0px 5px 0px;
    padding: 0px;
    width: 300px;
    height: 40x;
    margin: 0px;

}
body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url(images/dark-wood.jpg);
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
a {
    font-weight: normal;
    width: 300px;
    height: 40px;
    size: 20px;
    color: #666666
    
}